In [1]:
import pandas as pd
import sqlite3

In [2]:
schools_df = pd.read_csv('DOE_High_School_Directory_2016-geocoded.csv')
scores_df = pd.read_csv('SAT__College_Board__2010_School_Level_Results.csv')

In [3]:
schools_df.head(2)

,dbn,school_name,boro,building_code,shared_space,phone_number,fax_number,school_email,grade_span_min,grade_span_max,...,is_match,latitude,longitude,returned_address,side,state,state_fips,tiger_line,tract,zipcode
0,01M292,Henry Street School for International Studies,Manhattan,M056,Yes,212-406-9411,212-406-9417,cloughl@schools.nyc.gov,6,12,...,Match,40.713700,-73.98620,"220 HENRY ST, NEW YORK, NY, 10002",R,NY,36.0,59654332.0,201.0,10002
1,01M448,University Neighborhood High School,Manhattan,M446,No,212-962-4341,212-267-5611,ransonunhs@gmail.com,9,12,...,Match,40.712418,-73.98436,"200 MONROE ST, NEW YORK, NY, 10002",R,NY,36.0,59663661.0,202.0,10002